@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');


body {
    font-family: 'Heebo', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-image: url("images/car-bg.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 150px);
}

.content {
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
}

.content h1 {
    color: #00C2FF;
    margin-bottom: 0;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

nav .logo {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {

}

nav li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.highlight {
    background-color: #00C2FF;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: white;
    height: 100px;
    padding: 2rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong {
    color: #00C2FF;;
}

footer p {
    margin: 0;
}


@media screen and (max-width: 700px) {

    nav ul {
        flex-direction: column;
        align-self: flex-end;
    }

    nav li:not(:last-child) {
        margin-bottom: 1rem;
    }

    nav .highlight {
        display: none;
    }

    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    footer li {
        margin: 1rem;
        text-align: center;
    }
}
